.benefits{
    display: flex;
    gap: 10px;
}

.benefits-item{
    width: 279px;
    height: 94px;
    background-color: #F8F8F8;
    border-radius: 5px;
    border: 1px solid #DFD8D8;
    display: flex;
}

.benefits-item-image{
    margin-left: 28px;
    margin-top: 32px;
    margin-right: 15px;
}

.benefits-item-desc{
    margin-top: 19px;
}

.benefits-item-desc h3{
    font-size: 24px;
    font-weight: 700;
}