
.body{
  max-width: 1440px;
  margin: 0 auto;
  font-family: sans-serif;
}

.banner{
  display: flex;
  gap: 10px;
  margin-top: 11px;
  margin: 10px 144px;

}

.benefitMain{
  margin: 8px 144px 0;
}

.categoriesNameMain{
  margin-left: 144px;
  margin-top: 19px;
}

.product-card-list{
  display: flex;
  gap: 11px;
  margin-top: 19px;
  margin-left: 144px;
}